<div class="main-content">
    <h2>
        Vous recevez tous les mails qui arrive sur le port tcp {{ config.smtpPort }} de ce serveur smtp.
    </h2>

    <p>
        Exemple de configuration de vos applications CARL <a href ng-click="showConfig()">Cliquez ici</a>.
    </p>


    <div class="slide-container" ng-class="{ open: configOpen }">

        <h4>CARL Source Admin</h4>

        <div class="clearfix">
		Configuration d'une instance CARL Source Admin:
            <pre class="code">
Mail : Serveur SMTP	| <strong>localhost ( addresse du serveur CARL MAil dev)</strong>
Mail : Port SMTP	| <strong>{{ config.smtpPort }} </strong>
Mail : Adresse de l'expéditeur	| <strong>CARL@TEST-CLIENT.com ( email non existant de votre choix)</strong>
			</pre>

        </div>

        <h4>Jboss 4.2.X</h4>
		Configuration du fichier mail-service.xml de l'instance jboss:
           <pre class="code"><xmp>
<!-- Change to the SMTP gateway server -->
<property name="mail.smtp.host" value="localhost"/>
 
<!-- The mail server port  -->
<property name="mail.smtp.port" value="25"/> -->
      
<!-- Change to the address mail will be from  -->
<property name="mail.from" value="noreply@domain.com"/>
		</xmp>
		</pre>
  
       
    </div>

    <br>
	<p>
	En cas de problème merci de contacter votre référent ou créer un <a href="http://glpi.carl-intl.fr">ticket GLPI</a>	
	</p>

    <p>
        <small>You are running MailDev v.{{ config.version }}</small>
    </p>

</div>
